

.airline_search {
    width: 1200px;
    height: 219px;
    background-color: white;

    position: absolute;
    top: 54%;
    left: 18.5%;
}

.airline_search_top {
    margin-top: 19.7px;
    margin-left: 31.5px;
}

.airline_search_top > div {
    margin-right: 37px;
}

.airline_search_top > div:nth-child(4) > a 
> div:nth-child(1) > img {
    object-fit: contain;
    height: 18px;
}

.airline_search_top > div:nth-child(4) > a 
> div:nth-child(1) { 
    margin-top: -2px;
    margin-left: -1px;
}

.airline_search_top > div:nth-child(4) > a 
> div:nth-child(2) {
    margin-left: 6px;
}

.airline_search_top > div:nth-child(4) > a {
    color: #4585ff;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.4px;
}





.airline_search_top > div:not(:nth-child(4)) > a {
    text-decoration: none;
    color: rgb(170, 170, 170);
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    letter-spacing: -0.4px;
    line-height: 15px;
}


.airline_search > 
.airline_search_top > 
.airline_search_active > a {
    color: rgb(17, 17, 17);
}

.airline_search_active > a > div:nth-child(2) {
    background-color: rgb(30, 158, 237);
    width: 117%;
    margin-top: 7px;
    margin-left: -2px;
    height: 3px;
}

.airline_search_bottom > div {
    display: none;
    width: 1140px;
    height: 134px;
}

.airline_search_bottom > .airline_search_active {
    display: block;
    margin-left: 30px;
    margin-top: 20px;
}

.input_airport {
    background-color: rgb(242, 246, 249);
    color: #888;
    width: 410px;
    height: 60px;
    border-radius: 3px;
    cursor: pointer;

    position: relative;
}

.input_airport > input {
    background-color: #f2f6f9;
    border: none;
    color: #888;
    font-size: 15px;
    cursor: pointer;
    outline: none;

    margin-top: 20px;
    margin-left: 20px;
}

.input_airport > input::placeholder {
    font-weight: 400;
    color: #888;
    line-height: 1;
    letter-spacing: -.4px;
}

.select_departure_airport {
    display: none;
    width: 695px;
    height: 565px;
    background-color: white;
    margin-top: 10px;
    padding: 30px 30px 0;
    box-shadow: 0 5px 20px 0 rgba(17, 17, 17, 0.3);
    border: 1px solid rgb(17, 17, 17);

    position: absolute;
    top: 95%;


    z-index: 900;
}

.input_airport > .select_departure_airport_active {
    display: block;
}


.select_departure_airport1 > div:nth-child(2) {
    cursor: pointer;
}

.select_departure_airport1 > div:nth-child(2) > div:nth-child(2) {
    font-size: 16px;
    color: #111;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.4px;
}

.select_departure_airport1 > div:nth-child(1) {
    font-size: 16px;
    color: #111;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.4px;

    margin-top: 7px;
}

.select_departure_airport1 > div:nth-child(2) > div:nth-child(1) {
    margin-left: 8px;
}

.select_departure_airport1 > div:nth-child(2) > div:nth-child(1) > img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.select_departure_airport2 {
    width: 633px;
    height: 40px;
    margin-top: 20px;
}

.select_departure_airport2 > span {
    text-align: left;
    width: auto;
    background-color: #eef0f3;
    color: #111;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.4px;
    font-weight: 400; 
    border-radius: 4px;
    line-height: 20px;
    margin: 0 8px 8px 0;
    padding: 6px 25px 6px 10px;
}

.select_departure_airport2 > span > span:nth-child(1):hover { 
    cursor: pointer;
    text-decoration: underline;
    
}

.select_departure_airport2 > span > span:nth-child(2) > img {
    width: 8px;
    height: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.select_departure_airport3 {
    height: 21px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.4px;
    padding-top: 4px;
}


.select_departure_airport3 > span:nth-child(2) {
    padding-left: 4px;
}


.select_departure_airport4 {
    width: 633px;
    height: 373px;
    margin-top: 20px;
    border: 1px solid #ddd;
    
}

.airport_list_tab {
    width: 206px;
    height: 371px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: rgb(102, 102, 102);
}


.airport_list_tab > div {
    width: 206px;
    height: 54px;
    border-bottom: 1px solid #ddd;
    padding: 19px 12px;
    color: rgb(94, 43, 184);
    color: (94, 43, 184);
    cursor: pointer;
  
}

.select_departure_airport4 
> .airport_list_tab 
> div:not(.airport_list_tab_active) {
    color: rgb(102, 102, 102);
    background-color: rgb(247, 247, 247);
}



.airport_list_tab_list_container {
    height: 383px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.airport_list_tab_list {
    display: none;
}

.airport_list_tab_list.airport_list_tab_active {
    display: flex;
    
} 



.airport_list_tab_list > div {

    color:  rgb(17, 17, 17);
    width: 212px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 22px;
    padding: 10px 20px;

}

.airport_list_tab_list > div > div {
    height: 42px;
    cursor: pointer;
}

.airport_list_tab_list > div > div:hover {
    text-decoration: underline;
}






.airport_exchange {
    margin: 21px 30px;
}
.airport_exchange > a {
    cursor: default;
}

.direct_flight_btn {
    margin-left: 8px;
}
.direct_flight_btn > button {
    width: 70px;
    height: 62px;
    border-radius: 3px;
    border: 1px solid #c2c2c2;
    font-size: 12px;
    font-weight: 400;
    color: #666;
    line-height: 62px;
    padding: 0;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    letter-spacing: -1px;
}

.airline_search_setting {
    margin-top: 7px;
}
.airline_search_setting > div:nth-child(1),
.airline_search_setting > div:nth-child(2) {
    width: 410px;
    height: 62px;
    border-radius: 3px;
    text-align: left;
}

.airline_search_setting > div:nth-child(1) > div:nth-child(1),
.airline_search_setting > div:nth-child(1) > div:nth-child(2) {
    width: 201px;
    height: 62px;
    background-color: #f2f6f9;

    font-size: 15px;
    color: #888;
    line-height: 62px;
}

.airline_search_setting > div:nth-child(1) > div:nth-child(1) > span,
.airline_search_setting > div:nth-child(1) > div:nth-child(2) > span {
    margin-left: 35px;
}

.airline_search_setting > div:nth-child(1) > div:nth-child(2) {
    margin-left: 8px;
}


.airline_search_setting > div:nth-child(2) {
    background-color: #f2f6f9;
    margin-left: 86px;
}
.airline_search_setting > div:nth-child(2) > div {
    margin-top: 23px;
    margin-left: 20px;
}
.airline_search_setting > div:nth-child(2) > div > span {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1;
    letter-spacing: -.4px;

}
.airline_search_setting > div:nth-child(3) {
    margin-left: 8px;
}
.airline_search_setting > div:nth-child(3) > input[type="submit"] {
    border: none;
    width: 213px;
    background: #1e9eed;
    border-color: #1e9eed;
    font-weight: 600;
    color: #fff;
    height: 62px;
    line-height: 62px;
    font-size: 17px;
    border-radius: 8px 0 8px 8px;
    letter-spacing: -2.5px;
}



.one_way > form > .airline_search_setting > div:nth-child(1) {
    width: 410px;
    height: 62px;
    background-color: #f2f6f9;
}





